@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('montserrat.woff2') format('woff2'), url('montserrat.woff') format('woff'), url('montserrat.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  .App {
    text-align: center;
    font-family: 'Montserrat';
  }
  
  .App-logo {
    height: 40vmin;
  }
  #about{
      text-align: left;
      margin-left: 30%;
  }
  #topMenu{
    position: fixed;
  }
  #me{
    margin-right: 20%;
    width:100px;
    height:100px;
    float:right;
  }
  a{
    text-decoration: none;
    color:green;
  }
  #bottom{
      color:white;
      background-color:lightgray;
  }
  #bottom a{
      color:white;
  }
  #slideCalculator{
    background-color:aqua;
  }
  #slideEcology{
      background-color: lightgreen;
  }
  #contacts{
      background-color:lightgrey;
  }
  #slideCoderbook{
    background-color:rgb(255,38,67); /*nice red*/
  }
  .slider{
    color:white;
  }